@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.2s ease;
}


body {
    overflow: hidden;
}

#dashboard {
    width: 100vw;
    height: 100vh;
}

.dash-header {
    padding: 8px;
    background-color: wheat;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
        font-size: 1.2em;
        padding: 8px;
    }
}

.col-container {
    display: flex;
    height: 90vh;
    overflow-x: scroll;
    padding: 3vh 8px;
}

.spacer {
    flex-grow: 1;
}

.column {
    min-width: 220px;
    width: 220px;
    height: fit-content;
    max-height: 84vh;
    margin-right: 16px;
    border: 1px solid gray;
    border-radius: 2px;
    background-color: white;

    display: flex;
    flex-direction: column;

    .col-header {
        @include flexCenter();
        padding: 8px;

        .col-title {
            font-size: 1.5em;
        }

        .col-title-input {
            font-weight: bold;
            font-size: 1.5em;
            width: 166px;

            &:focus {
                background-color: wheat;
                outline-color: black;
            }
        }

        .add-task-btn {
            width: 30px;
            font-size: 1.5em;
            background-color: white;
        }
    }

    .t-container {
        overflow-y: scroll;
        padding: 8px;
        min-height: 120px;
    }

    .new-card-form {
        background-color: gray;
        padding: 8px;

        textarea {
            outline: none;
            border: none;
            resize: none;
            width: 100%;
            padding: 8px;

            &:focus {
                background-color: wheat;
            }
        }

        button {
            padding: 4px;
            background-color: green;
            color: white;
            border-radius: 8px;

            &:hover {
                cursor: pointer;
                background-color: lightgreen;
            }
        }
    }
}

.t-box {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 8px;

    display: flex;
    align-items: center;

    &:focus {
        outline: none;
        border-color: red;
    }
}

.blue {
    background-color: skyblue;
}

.gray {
    background-color: lightgray;
}

.handle {
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 4px;
    margin-right: 8px;
}

.context-menu {
    width: 100px;
    background-color: black;
    color: white;

    .context-item {
        padding: 8px;
        border: 2px solid white;

        &:hover {
            cursor: pointer;
        }
    }

}
