* {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

body {
  padding: 0;
  margin: 0;
  background-color: #95d5b2;
  color: #081c15;
  overflow: hidden;
}

#dashboard {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.dash-header {
  background-color: #081c15;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  padding: 3vh 8px;
}

.spacer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* Style The Dropdown Button */
.dropbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: #d8f3dc;
  color: black;
  font-size: 1.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 30px;
  top: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .drop-select {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .drop-select:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #95d5b2;
}

.new-list-parabtn {
  min-width: 300px;
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 84vh;
  margin-right: 16px;
  border: 1px solid gray;
  border-radius: 2px;
  background-color: #d8f3dc;
  padding: 12px;
  font-size: 1.5em;
}

.column {
  min-width: 300px;
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 84vh;
  margin-right: 16px;
  border: 1px solid gray;
  border-radius: 2px;
  background-color: #d8f3dc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column .my-col-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}

.column .my-col-head .col-title {
  padding: 4px;
  font-size: 1.5em;
}

.column .my-col-head .col-title-input {
  padding: 4px;
  font-weight: bold;
  font-size: 1.5em;
  width: 242px;
}

.column .my-col-head .col-title-input:focus {
  background-color: wheat;
  outline-color: black;
}

.column .my-col-head .add-task-btn {
  width: 30px;
  font-size: 1.5em;
  background-color: white;
}

.column .t-container {
  overflow-y: scroll;
  padding: 8px;
  min-height: 120px;
}

.column .new-card-form {
  background-color: #081c15;
  padding: 8px;
}

.column .new-card-form textarea {
  outline: none;
  border: none;
  resize: none;
  width: 100%;
  padding: 8px;
}

.column .new-card-form textarea:focus {
  background-color: wheat;
}

.column .new-card-form button {
  padding: 4px;
  background-color: #40916c;
  color: white;
  border-radius: 8px;
}

.column .new-card-form button:hover {
  cursor: pointer;
  background-color: #95d5b2;
}

.t-box {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.t-box:focus {
  outline: none;
  border-color: red;
}

.blue {
  background-color: skyblue;
}

.gray {
  background-color: lightgray;
}

.handle {
  width: 20px;
  height: 20px;
  background-color: orange;
  border-radius: 4px;
  margin-right: 8px;
}

.context-menu {
  width: 100px;
  background-color: black;
}

.context-menu .context-item {
  padding: 8px;
  border: 2px solid white;
  color: white;
}

.context-menu .context-item:hover {
  cursor: pointer;
}

.card-modal-outer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-modal-outer .card-modal-inner {
  padding: 10px;
  min-height: 500px;
  max-height: 95vh;
  width: 800px;
  background-color: lightgray;
  border-radius: 6px;
  overflow: scroll;
}

.card-modal-outer .card-modal-inner .card-modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
}

.card-modal-outer .card-modal-inner .card-modal-form .modal-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-modal-outer .card-modal-inner .card-modal-form .modal-top .close-modal {
  cursor: pointer;
}

.card-modal-outer .card-modal-inner .card-modal-form label {
  margin: 5px 0;
}

.card-modal-outer .card-modal-inner .card-modal-form textarea {
  font-size: 1.2em;
  overflow-y: auto;
  word-wrap: break-word;
  resize: none;
  border: none;
  border-radius: 6px;
  outline: none;
  background-color: lightgray;
  padding: 4px 8px;
}

.card-modal-outer .card-modal-inner .card-modal-form textarea:focus {
  background-color: white;
}

.card-modal-outer .card-modal-inner .card-modal-form .modal-ta-content {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 12px;
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
  -webkit-transition: background-color .2s ease, -webkit-transform .1s ease;
  transition: background-color .2s ease, -webkit-transform .1s ease;
  transition: transform .1s ease, background-color .2s ease;
  transition: transform .1s ease, background-color .2s ease, -webkit-transform .1s ease;
}

.card-modal-outer .card-modal-inner .card-modal-form .modal-ta-content:focus {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.card-modal-outer .card-modal-inner .card-modal-form .modal-ta-desc {
  background-color: #bbbbbb;
}

.card-modal-outer .card-modal-inner .card-modal-form p {
  opacity: 50%;
  margin-bottom: 20px;
}

.card-modal-outer .card-modal-inner .card-modal-form .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-modal-outer .card-modal-inner .card-modal-form .btn-container button {
  font-size: 1.2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 25px 10px 0;
  padding: 5px 12px;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
}

.card-modal-outer .card-modal-inner .card-modal-form .btn-container .submit-btn {
  background-color: #4361ee;
}

.card-modal-outer .card-modal-inner .card-modal-form .btn-container .delete-btn {
  background-color: #d00000;
}

.ham-drop {
  height: 100%;
  margin: 0;
  padding: 8px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ham-drop .hamburger {
  margin: 12px;
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
  cursor: pointer;
}

.ham-drop .hamburger .ham-line {
  background-color: white;
  width: 100%;
  height: 2px;
}

.ham-drop .ham-content {
  z-index: 20;
  position: absolute;
  color: black;
  top: 50px;
  right: 0;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}

.ham-drop .ham-content .ham-select {
  background-color: white;
  width: 150px;
  padding: 10px;
  text-align: right;
  cursor: pointer;
}

.ham-drop .ham-content .ham-select:hover {
  background-color: whitesmoke;
}

.ham-drop .ham-active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.ham-drop .ham-content-hide {
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
}
/*# sourceMappingURL=style.css.map */