@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin med {
  @media (min-width: 1200px) {
    @content;
  }
}

* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: border-color .2s ease, background-color .4s ease;
}


body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#dashboard {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.dash-header {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.drop-container {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
    padding: 3vh 8px;
}

.col-container {
    display: flex;
    flex-grow: 1;
    // overflow-x: auto;
    // padding: 3vh 8px;
}

.spacer {
    flex-grow: 1;
}

.dropbtn {
    @include flexCenter();
    width: 30px;
    height: 30px;
    font-size: 1.5em;
    border: none;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 30px;
    top: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .drop-select {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .drop-break {
    background-color: lightgray;
    height: 1px;
    text-decoration: none;
    display: block;
}

.dropdown-content .drop-select:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.new-list-form {
    height: fit-content;

    .new-list-parabtn {
        font-size: 1.5em;
        min-width: 300px;
        width: 300px;
        margin-left: 16px;
        border: none;
        border-radius: 5px;
        padding: 8px;
        font-size: 1.5em;

        &:focus {
            outline-color: lightgray;
        }
    }
}


.col-container-space {
    min-width: 50vw;
    height: 100px;
}

.column {
    position: relative;
    min-width: 300px;
    width: 300px;
    height: fit-content;
    max-height: 84vh;
    margin-left: 16px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;

    .my-col-head {
        @include flexCenter();
        padding: 8px;

        .col-title {
            padding: 4px;
            font-size: 1.5em;
        }

        .col-title-input {
            padding: 4px;
            font-weight: bold;
            font-size: 1.5em;
            width: 242px;

            &:focus {
                outline-color: lightgray;
            }
        }

        .add-task-btn {
            width: 30px;
            font-size: 1.5em;
            background-color: white;
        }
    }

    .t-container-outer {
        overflow-y: auto;

        .t-container {
            display: flex;
            flex-direction: column;
            min-height: 100px;
            padding: 8px 8px 0 8px;
        }
    }

    .new-card-form {
        padding: 8px;
        border-radius: 0 0 8px 8px;
        // background-color: #d8f3dc;

        textarea {
            font-size: 1em;
            outline: none;
            border: none;
            resize: none;
            width: 100%;
            padding: 8px;
            border-radius: 4px;
            background-color: inherit;

            &:hover {
                cursor: pointer;
                background-color: white;
                border: 1px solid white;
            }

            &:focus {
                cursor: auto;
                border: 1px solid lightgrey;
                background-color: white;
            }
        }

        button {
            margin-top: 2px;
            padding: 6px;
            font-size: 1em;
            color: white;
            border: none;
            border-radius: 4px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.t-box {
    background-color: white;
    font-size: 1em;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 8px;

    display: flex;
    flex-direction: column;

    &:focus {
        outline: none;
        border-color: red;
    }
}

.fade-t-box {
    box-shadow: 0 0 5px 3px lightgray;
}

.context-menu {
    width: 150px;
    background-color: rgba(110, 110, 110, 0.95);
    border-radius: 4px;
    padding: 5px 0;
    border: 1px solid rgb(100, 100, 100);
    z-index: 20;

    .context-item {
        font-size: 1em;
        padding: 2px 10px;
        font-weight: bold;
        color: white;

        &:hover {
            cursor: pointer;
            background-color: rgb(165, 165, 165);
        }
    }

}

.close-modal {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 2.2em;
    cursor: pointer;
}

.card-modal-outer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    @include flexCenter();

    .card-modal-inner {
        position: relative;
        padding: 10px;
        min-height: 500px;
        max-height: 95vh;
        width: 90vw;
        max-width: 800px;
        background-color: lightgray;
        border-radius: 6px;
        overflow: auto;

        .card-modal-form {
            display: flex;
            flex-direction: column;
            padding: 12px;

            .modal-top {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            label {
                margin: 5px 0; 
            }

            textarea {
                font-size: 1.2em;
                overflow-y: auto;
                word-wrap:break-word;
                resize: none;
                border: none;
                border-radius: 6px;
                outline: none;
                background-color: white;
                padding: 4px 8px;
            }

            .modal-ta-content {
                font-size: 1.8em;
                font-weight: bold;
                margin-bottom: 12px;
            }

            .modal-ta-desc {
                margin-bottom: 6px;
            }

            p {
                opacity: 70%;
                margin: 0;
            }

            input {
                margin: 20px 0;
            }

            .btn-container {
                display: flex;

                button {
                    font-size: 1.2em;
                    width: fit-content;
                    margin: 10px 25px 10px 0;
                    padding: 5px 12px;
                    border-radius: 4px;
                    border: none;
                    color: white;
                    cursor: pointer;

                    &:hover {
                        opacity: 70%;
                    }
                }
            }

        }
    }
}

.recycle-head {
    @include flexCenter();
    padding: 12px;
    margin-bottom: 20px;
    font-size: 1.3em;
}

.recycle-msg {
    margin: 100px auto;
    width: fit-content;
    font-size: 1.3em;
    opacity: 60%;
}

.recycle-item {
    @include flexCenter();
    margin: 10px;
    padding: 12px;
    border-radius: 6px;
    background-color: whitesmoke;
    font-size: 1.5em;

    .recycle-card-title {
        font-weight: bold;
    }

    .recycle-card-num {
        opacity: 50%;
        margin-right: 20px;
    }

    button {
        font-size: .7em;
        width: fit-content;
        margin: 8px;
        padding: 5px 12px;
        border-radius: 4px;
        border: none;
        color: white;
        cursor: pointer;

        &:hover {
            opacity: 70%;
        }
    }
}

.ham-drop {
    height: 100%;
    margin: 0;
    padding: 8px;
    position: relative;
    @include flexCenter();

    .hamburger {
        margin: 12px;
        height: 20px;
        width: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
    
        .ham-line {
            transition: transform .4s ease;
            background-color: white;
            width: 100%;
            height: 2px;
        }
    }
    
    .ham-content {
        z-index: 20;
        position: absolute;
        color: whitesmoke;
        top: 50px;
        right: 0;
        transition: transform .4s ease;
        background-color: #081c15;
        box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.2);
    
        .ham-select {
            width: 150px;
            padding: 8px 15px;
            text-align: right;
            cursor: pointer;

            &:hover {
                background-color: gray;
            }
        }

        .ham-space {
            position: relative;

            .pref-content {
                display: none;
                position: absolute;
                width: 150px;
                right: 150px;
                top: 0;
                background-color: #081c15;
            }

            &:hover {
                .pref-content {
                    display: block;
                }
            }
        }
    }
    
    .ham-active {
        .ham1 {
            transform: rotate(-45deg) translate(-5px, 2px);
        }

        .ham2 {
            display: none;
        }

        .ham3 {
            transform: rotate(45deg) translate(-5px, -2px);
        }
    }

    .ham-content-hide {
        transform: translateX(151px);
        box-shadow: none;
    }
}

.alert-clear {
    position: absolute;
    background-color: white;
    height: 180px;
    width: 50vw;
    top: 0;
    left: 50%;
    margin-left: -25vw;
    padding: 10px;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 0 10px 1px black;
    z-index: 30;
    transition: transform .7s ease;

    h1 {
        text-align: center;
        font-size: 1.8em;
    }

    p {
        text-align: center;
        margin-top: 10px;
        font-size: 1.1em;
    }

    .alert-btn-grp {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        button {
            font-size: 1.1em;
            width: fit-content;
            margin: 8px;
            padding: 5px 12px;
            border-radius: 4px;
            border: none;
            color: white;
            cursor: pointer;
    
            &:hover {
                opacity: 70%;
            }
        }
    }
}

.dash-title {
    font-size: 1.7em;
    margin-left: 24px;
}

.lp-body {
  background-color: rgb(149, 213, 178);
  width: 100vw;
  height: 100vh;
  padding-top: 10vh;

  .title {
    color: white;
    margin-left: 3rem;
  }

  .center {
    width: 80vw;
    height: 50vh;
    margin: auto;
    background-color: #e9ecef;
    padding: 4rem 2rem;
    border-radius: 0.3rem;
  }
  @include med {
    .img {
      width: 40vw;
      height: 35vh;
      background-image: url("../imgs/pexels-tranmautritam-251225.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@media only screen and (max-width: 950px) {
    .alert-clear {
        width: 80vw;
        margin-left: -40vw;
        height: fit-content;
    }
}

@media only screen and (max-width: 850px) {
    .btn-container {
        @include flexCenter();
    }

    .recycle-item {
        flex-direction: column;
    }
}